/*DON'T USE THIS ONE ATM GITHUB NO LIKEY CSS IN SEPERATE FOLDER*/

h1 {
  font-family: "Oxygen";
}

h2 {
  font-family: "Cobin";
  font-weight: 500;
  font-size: 50px;
}

#bodytext {
  font-family: "Cobin";
  font-size: 22px !important;
}

.container-fluid {
  padding: 2% 2%;
}
#title {
  background-color: #d9e1e4;
  color: #fff;
  padding: 0 0 0 7%;
}

#startpic {
  height: 400px;
  width: auto;
}
/*Header*/

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Oxygen";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}
.TextBar {
  padding-right: 4%;
}

.Start-episode {
  padding: 3% 55%;
}

#content {
  padding-top: 4%;
}

.frontPic {
  height: auto;
  width: auto;
}
/*Call to arms section*/
.CTA {
  font-size: 30px;
  color: #0c4160;
  padding-bottom: 4%;
}

/*Pictures*/
.headShot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.missing-UFO {
  width: 300px;
  height: 300px;
}

/*Contact page*/
.contactText {
  padding: 0 45% 0 45%;
}
/*hamburger*/

label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: rgb(8, 8, 8);
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}
