Body {
  font-family: "Oxygen", sans-serif;
}
h1 {
  font-family: "Oxygen";
}
.container-fluid {
  padding: 2% 2%;
}
#title {
  background-color: #0c4160;
  color: #fff;
  padding: 0 0 0 7%;
}

#startpic {
  height: 750px;
  width: 1125px;
}
/*Header*/

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Oxygen";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}
.TextBar {
  padding-right: 4%;
}

.Start-episode {
  padding: 3% 55%;
}

#content {
  padding-top: 4%;
}

.frontPic {
  height: 400px;
  width: auto;
}
/*Call to arms section*/
.CTA {
  font-size: 30px;
  color: #0c4160;
  padding-bottom: 4%;
}

.headShot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.missing-UFO {
  width: 300px;
  height: 300px;
}

/*Contact page*/
.contactText {
  padding: 0 45% 0 45%;
}
